body {
	background-color: #eee;
	font-family: sans-serif;
	text-align: center;
}

a {
	color: gray;
}

h3 {
	font-size: 1.5em;
}

#footer {
	margin-top: 30px;
	margin-bottom: 20px;
}

#footer > p {
	font-size: 12px;
	color: gray;
	margin-bottom: 5px;
	margin-top: 5px;
}

#project-title {
	margin-top: 20px;
	margin-bottom: 10px;
	color: gray;
	font-size: 1.3em;
}

#chart-container {
	margin: auto;
	width: 1200px;
	height: 1040px;
	position: relative;
}

.line {
	border-bottom: 1px solid gray;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 20px;
}

#year-tooltip {
	width: 300px;
	height: 260px;
	background-color: #eee;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -130px 0 0 -150px;
	text-align: center;
	opacity: 1;
}

#year-tooltip > h6 {
	color: gray;
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 0.8em;
}

#year-tooltip > p {
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 1.3em;
}

#year-name {
	margin-top: 30px;
	margin-bottom: 0px;
	padding-bottom: 10px;
}

#film-tooltip {
	width: 300px;
	height: 380px;
	background-color: #eee;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -190px 0 0 -150px;
	text-align: center;
	opacity: 0;
}

#film-tooltip > h6 {
	color: gray;
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 0.8em;
}

#film-tooltip > p {
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 1.3em;
}

#film-name {
	margin-top: 30px;
	margin-bottom: 0px;
	padding-bottom: 10px;
}

#daily-boxoffice-tooltip {
	width: 300px;
	height: 260px;
	background-color: #eee;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -130px 0 0 -150px;
	text-align: center;
	opacity: 0;
}

#daily-boxoffice-tooltip > h6 {
	color: gray;
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 0.8em;
}

#daily-boxoffice-tooltip > p {
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 1.3em;
}

#do-date {
	margin-top: 30px;
	margin-bottom: 0px;
	padding-bottom: 10px;
}
