body {
	background-color: #eee;
	font-family: sans-serif;
}

h3 {
	font-size: 1.6em;
}

p {
	font-size: 1.4em;
}

h6 {
	font-size: 0.8em;
}

#chart-container {
	margin: auto;
	width: 1200px;
	height: 1200px;
	position: relative;
}

.line {
	border-bottom: 1px solid gray;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 20px;
}

#film-tooltip {
	width: 400px;
	height: 260px;
	background-color: #eee;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -130px 0 0 -200px;
	text-align: center;
	opacity: 0;
}

#film-tooltip > h6 {
	color: gray;
	margin-top: 10px;
	margin-bottom: 5px;
}

#film-tooltip > p {
	margin-top: 0;
	margin-bottom: 10px;
}

#film-name {
	margin-top: 30px;
	margin-bottom: 0px;
	padding-bottom: 10px;
}

#daily-boxoffice-tooltip {
	width: 400px;
	height: 260px;
	background-color: #eee;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -130px 0 0 -200px;
	text-align: center;
	opacity: 0;
}

#daily-boxoffice-tooltip > h6 {
	color: gray;
	margin-top: 10px;
	margin-bottom: 5px;
}

#daily-boxoffice-tooltip > p {
	margin-top: 0;
	margin-bottom: 10px;
}

#do-date {
	margin-top: 30px;
	margin-bottom: 0px;
	padding-bottom: 10px;
}
